@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
/* --- general CSS --- */
html {
    scroll-behavior: smooth;
}
body{
    font-family: "roboto"
}
a{
    text-decoration: none;
    color: #000;
    font-size: 50px;
}
/* ---- Nav --- */
nav{
    padding: 5px;
    font-size: 11px;
    text-align: left; 
}
nav>ul>li>a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
li{
    display: inline-block;
    margin-right: 20px;
}
li:hover{
    background-color: #000;
}
li:hover a{
    color: #fff;
}


/* --- Header ---- */
h1{
    width: 380px;
    margin: 100px auto;
    font-size: 50px;
    text-align: justify;
    margin-bottom: 100px;
}
span{
    background-color: #000;
    color: #fff;
    padding: 2px;
}
/* --- Selection Area --- */
h2{
    font-size: 40px;
}
.button{
    padding: 2px;
    width: 200px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}
.button:hover{
    background-color: #000;
}
.button:hover a{
    color: #fff;
}
div{
    background-color: #000;
    height: 40px;
    margin-left: 49.95%;
    margin-right: 49.95%;
}
div:first-of-type, div:last-of-type{
    background-color: #000;
    height: 80px;
    margin-left: 49.95%;
    margin-right: 49.95%;
}

