@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
/* --- general CSS --- */
html {
    scroll-behavior: smooth;
}
body{
    font-family: "roboto";
    height: 100vh;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 50px;
}
/* ---- Header ----- */
#stick{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #000;
    color: #fff;
    height: 90px;
}
section>a{
    color:#fff
}
span{
    background-color: #fff;
    color: #000;
    padding: 2px;
}
h2{
    font-size: 30px;
    margin-left: 5px;
    padding-top: 8px;

}
#headnav li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 30px;
}
#headnav li a{
    color: #fff;
    font-size: 20px;
}
#headnav li:hover{
    background-color: #fff;
}
#headnav li:hover a{
    color: #000;
}
/* ----- side nav ----- */
#sidenav{
    position: fixed;
    top: 89px;
    margin-left: 20px;
    width: 15%;
}
#sidenav ul{
    text-align: center;
    width: 100px;
    display: table;
}
#sidenav li{
    padding: 2px;
    background-color: #000;
    text-align: center;
    width: 100px auto;
    list-style: none;
}
#sidenav a{
    font-size: 15px;
    color: #fff;
}
#sidenav li:hover{
    background-color:#fff;
}
#sidenav li:hover a{
    color: #000;
}
#sidenav div{
    background-color: #000;
    height: 15px;
    margin-left: 49.95%;
    margin-right: 49.95%;
}
#sidenav div:first-of-type{
    background-color: #000;
    height: 70px;
    padding-top: 0px;
    margin-left: 49.95%;
    margin-right: 49.95%;
}
#sidenav div:last-of-type{
    background-color: #000;
    height: 200px;
    padding-top: 0px;
    margin-left: 49.95%;
    margin-right: 49.95%;
}
/* ----- main sections ----- */
.content{
    padding-top: 100px;
    margin-top: 80px;
    padding-bottom: 100px;
}
.content:last-of-type{
    padding-bottom: 200px;
}
.content img{
    width: 60%;
    margin-left: 20%;
}
#h2{
    width: 60%;
    margin-left: 20%;
    padding-bottom: 10px;
}
h3{
    width: 60%;
    margin-left: 20%;
    padding-bottom: 10px;
}
p{
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
}

